/* Theme 1 */

.parallax-hero {
  height: 380px;
}

.parallax-container {
  height: 240px;
}

.overlay {
  background-color: rgba(0,0,0,0.6);
}

.icon-block .material-icons {
  font-size: inherit;
}

.tabs .tab a {
  color: #ff5722;
}

.tabs .tab.disabled a {
  color: #e67e22;
}

.tabs .indicator {
  background-color: #ff5722;
}

.btn.iso {
  margin: 0.5rem;
}